<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBLK75tfCLgFv3B6-5eJiEVl1Pm8SI4lqw</string>
	<key>GCM_SENDER_ID</key>
	<string>158321551519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.health</string>
	<key>PROJECT_ID</key>
	<string>health-care-8f3ec</string>
	<key>STORAGE_BUCKET</key>
	<string>health-care-8f3ec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158321551519:ios:660ea21253d6c32aac5aaa</string>
</dict>
</plist>